body {
  background-image: linear-gradient(-90deg,#3fd5ea,#038496);
   
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
